/* Core variables and mixins*/
@import "imports/core/reset";
@import "imports/core/variables";
@import "imports/core/mixins";
@import "imports/core/layouts";
@import "imports/core/elements";
@import "imports/core/bootstrap_mini";
@import "imports/core/libs";

@import "imports/core/loading";

/* Navigation, header, footer*/
@import "imports/core/header";
@import "imports/core/nav";
@import "imports/core/footer";

/* Pages*/
@import "imports/pages/home";
@import "imports/pages/contact";
@import "imports/pages/detail";
@import "imports/pages/team";
@import "imports/pages/member-detail";
@import "imports/pages/register";
@import "imports/pages/payment";
@import "imports/pages/course";
