a {
    text-decoration: none;
    display: block;
    color: $black-cl;
}

.btn {
    height: 46px;
    line-height: inherit;
    cursor: pointer;
    padding: 0 36px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-family: ab;
    user-select: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}