
.header {
	height: 60px;
	z-index: 999;
	width: 100%;
	position: fixed;
	background: #e5e5e5;
	.wrapper {
		max-width: 1920px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 100%;
		border-bottom: 1px solid #e0e0e0;
		.menu {
			height: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			border-right: 1px solid #e0e0e0;
			padding: 0 15px;
			transition: all 0.5s;
			.btmenu {
				width: 26px;
				height: 15px;
				position: relative;
				margin-right: 10px;
				span {
					width: 100%;
					height: 2px;
					display: block;
					background: $black-cl;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
				&::before , &::after {
					content: "";
					width: 100%;
					height: 2px;
					display: block;
					background: $black-cl;
					transform: rotate(0deg);
					transition: 0.3s;
				}
				&::after {
					position: absolute;
					bottom: 0;
				}
				&.clicked {
					&::before {
						@include transform(rotate(45deg) translate(5px,5px));
						transition: 0.3s;
					}
					span {
						opacity: 0;
					}
					&::after {
						@include transform(rotate(-45deg) translate(4px,-5px));
						transition: 0.3s;
					}
				}
			}
			.text {
				font-size: 16px;
				line-height: 22px;
				text-transform: uppercase;
			}
			&:hover {
				background: $gray-cl;
			}
		}
		.logo {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		.log {
			height: 100%;
			display: flex;
			align-items: center;
			.btn-register {
				height: 100%;
				padding: 0 22px;
				text-transform: uppercase;
				font-size: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.btn {
				height: 100%;
				display: flex;
				align-items: center;
				padding: 0 22px;
				text-transform: uppercase;
				color: $white-cl;
			}
			.main {
				background: $main-cl;
				transition: 0.5s;
				&:hover {
					background: #00827f;
					transition: 0.5s;
				}
			}
		}
	}
}