
.banner {
    height: 100vh;
    background: $main-cl;
    .container {
        position: relative;
        height: 100%;
        .content {
            @include midflex;
            flex-direction: column;
            @include mid;
            width: 100%;
            min-width: 700px;
            margin: auto;
            color: $white-cl;
            h2 {
                font-weight: bold;
                font-size: 50px;
                line-height: 64px;
                text-align: center;
                text-transform: capitalize;
                margin-bottom: 8px;
            }
            .info {
                display: flex;
                justify-content: space-around;
                width: 400px;
                p {
                    padding: 0 20px;
                    margin-top: 15px;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .bg-white {
                background: #fff;
                color: $main-cl;
                border-radius: 25px;
                margin-top: 40px;
            }
        }
    }
    .bottom {
        width: 100%;
        color: white;
        position: absolute;
        bottom: 0px;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .more {
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}



.detail {
    background: #f4f7f6;
    padding: 60px 0;
    .container {
        max-width: 789px;
        .des {
            font-size: 24px;
            line-height: 44px;
        }
        h3 {
            text-transform: uppercase;
            padding-bottom: 22px;
            margin-bottom: 25px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
            .sub {
                text-transform: none;
            }
        }
        .accordion {
            .title {
                background: white;
                padding: 20px 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: 3px;
                margin-top: 10px;
                text-transform: none;
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                    background: #e8e8e8;
                    transition: 0.5s;
                }
                p {
                    padding-right: 30px;
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 25px;
                    width: 12px;
                    height: 12px;
                    background: url(../img/arrow-right.png) no-repeat;
                    top: calc(50% - 5px);
                    transition: 0.5s;
                }
            }
            .content {
                padding: 25px;
                background: white;
                display: none;
            }
        }
        .row {
            .col-md-6 {
                padding-left: 50px;
                position: relative;
                margin-bottom: 40px;
                font-size: 16px;
                line-height: 28px;
                &::before {
                    content: "";
                    display: block;
                    width: 24px;
                    height: 20px;
                    background: url(../img/check-green.png) no-repeat;
                    position: absolute;
                    left: 15px;
                    top: 2px;
                    background-size: contain;
                }
            }
        }
        p {
            line-height: 28px;
        }
        .teacher {
            display: flex;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 30px;
            .avata {
                width: 175px;
                height: 175px;
                margin-right: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .info {
                flex: 1;
                h4 {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 34px;
                }
                .title {
                    margin: 0 0 20px 0;
                    padding: 0;
                    margin-top: 5px;
                }
                .intro {
                    margin-bottom: 18px;
                    line-height: 28px;
                }
                p {
                    line-height: 28px;
                }
            }
        }
        .bottom {
            display: flex;
            padding: 20px 0;
            flex-wrap: wrap;
            margin-top: 30px;
            align-items: center;
            .user {
                min-width: 225px;
                display: flex;
                font-size: 16px;
                padding-right: 15px;
                align-items: center;
                img {
                    margin-right: 12px;
                }
            }
            .main {
                background: $main-cl;
                color: $white-cl;
                border-radius: 25px;
            }
            .share {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: 1px solid #000;
                color: black;
                border-radius: 50%;
                margin-left: auto;
            }
        }
    }
}