.member-detail {
    padding: 60px 0;
    background: #e5e5e5;
    .top-info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;

        .thumbnail {
            border-radius: 100%;
            width: 185px;
            height: 185px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            border: 4px solid #cacaca;
            overflow: hidden;
            span {
                @include mid;
                font-size: 60px;
                color: #00afab;
                z-index: 20;
                margin-top: -2px;
            }
            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
        .name {
            margin-top: 30px;
            font-size: 24px;
            text-transform: capitalize;
        }
        .des {
            opacity: 0.5;
            margin-top: 10px;
        }
    }
    .container {
        .tab {
            width: 100%;
            display: flex;
            &-title {
                margin: 0 auto;
                width: 33.33%;
                a {
                    white-space: nowrap;
                    font-size: 16px;
                    border: 1px solid #c4c4c4;
                    padding: 0 20px;
                    margin-bottom: -1px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    transition: all 0.4s;
                }
                .active {
                    color: $white-cl;
                    background: $main-cl;
                }
            }
            &-content {
                flex: 1;
                width: 1px;
                margin-left: 30px;
                .tab1 {
                    background: white;
                    padding-top: 50px;
                    display: block;
                    label {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        padding: 0 50px;
                        p {
                            font-size: 16px;
                            width: 160px;
                            flex-shrink: 0;
                        }
                        input {
                            flex: 1;
                            height: 58px;
                            font-size: 16px;
                            font-family: main;
                            padding: 20px;
                            outline: none;
                            border: 1px solid #dbe0df;
                        }
                    }
                    .btn-save {
                        height: 54px;
                        line-height: 54px;
                        background: #00afab;
                        width: 100%;
                        text-align: center;
                        font-weight: bold;
                        margin-top: 30px;
                        color: $white-cl;
                    }
                }
                .tab2 {
                    display: none;
                }
                .tab3 {
                    display: none;
                }
                .tab4 {
                    display: none;
                    .itemhistory {
                        background: white;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 20px;
                        margin-bottom: 20px;
                        .name {
                            font-size: 16px;
                        }
                        .date {
                            font-size: 16px;
                            padding-left: 10px;
                            white-space: nowrap;
                        }
                        .money {
                            font-size: 16px;
                            padding-left: 10px;
                            white-space: nowrap;
                        }
                    }
                }
                .tab5 {
                    display: none;
                }
            }
        }
    }
}
