.register {
    background: #e5e5e5;
    padding: 120px 0 60px;
    .container {
        .wrap {
            max-width: 750px;
            margin: 0 auto;
            .sub {
                font-size: 16px;
                text-align: center;
                padding: 0 15px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            h1 {
                font-size: 44px;
                text-align: center;
                margin-bottom: 20px;
                text-transform: capitalize;
                letter-spacing: 0.8px;
            }
            .info {
                display: flex;
                justify-content: center;
                p {
                    padding: 0 15px;
                }
            }
            .form {
                background: white;
                padding-top: 50px;
                position: relative;
                margin-top: 60px;
                label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    padding: 0 50px;
                    p {
                        width: 180px;
                    }
                    .input {
                        flex: 1;
                        input {
                            width: 100%;
                            flex: 1;
                            height: 58px;
                            padding: 0 20px;
                            outline: none;
                            border: 1px solid #dbe0df;
                            font-size: 16px;
                        }
                    }
                    .select {
                        position: relative;
                        height: 58px;
                        flex: 1;
                        .head {
                            width: 100%;
                            height: 100%;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: left;
                            position: relative;
                            line-height: 58px;
                            padding: 0 25px;
                            border: 1px solid #dbe0df;
                            cursor: pointer;
                            text-overflow: ellipsis;
                            display: -webkit-inline-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            .text-p {
                                width: 100%;
                            }
                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 25px;
                                width: 12px;
                                height: 8px;
                                right: 25px;
                                background: url(../img/arrow-bottom.png) no-repeat;
                            }
                        }
                        .sub-a {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            background: #f8f8f8;
                            z-index: 100;
                            flex: 1;
                            .select-a {
                                font-size: 16px;
                                font-weight: 400;
                                height: 58px;
                                line-height: 60px;
                                padding: 0 25px;
                                border: 1px solid #dbe0df;
                                width: 100%;
                                margin-top: -1px;
                                display: block;
                                text-align: left;
                                text-transform: none;
                            }
                            &.show {
                                display: block;
                            }
                        }
                    }
                }
                .btn-register {
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    margin-top: 15px;
                    height: 54px;
                    line-height: 54px;
                    background: $main-cl;
                    color: $white-cl;
                }
            }
        }
    }
}
